{% extends "users/layout.html" %}

{% block body %}

<!--About page for get your connexion-->
<div class=getYourConnexion>
    <h1>About <span style="color:#FBA66B">Digital Equity</span></h1>
</div>

<!-- Information who to further contact-->
<div class=getYourConnexion style="background-color:#D8EEFF;">
    <h4 style="color:#14477E; margin-top: 10%; flex-wrap: wrap; width: 75%">
        After having faced the Covid-19 pandemic, the technological inequities present 
        within the City of Fort Collins has never been more evident than now. With the 
        rising importance of needing secure, affordable internet with the digital age, 
        we believe this is the best time to launch <strong> Digital Equity </strong> for 
        our Fort Collins Residents.</h4>
    <h3 style="color:#14477E">Digital Equity is a currently proposed 
        program <br> from the City of Fort Collins
        which would <br> offer a reduced cost for citywide
        broadband. </h3>
    <h4 style="color:#14477E; margin-bottom: 10%; flex-wrap: wrap; width: 75%">
        Connexion is the broadband provider working with the city to build this system.
        In order to qualify for this program, there is a certain income level eligiblity 
        that needs to be met, but this is only to ensure we can offer this program to the
        familes who need the reduced cost the most. The mission of Digital Equity is to 
        increase digital access and reduce digital disparity.</h4>

</div>

{% endblock %}