{% extends "users/layout.html" %}

{% block body %}
<!--Contact us page for get your connexion-->
<div class=getYourConnexion>
    <h1>Contact <span style="color:#FBA66B">Us</span></h1>
</div>

<!-- Information who to further contact-->
<div class=getYourConnexion style="background-color:#D8EEFF;">
    <h3 style="color:#14477E">You can always reach out to Connexion, <br>
        the City of Fort Collins,
        or the  developers <br> of this site if you have any questions! </h3>
    <div class=extraPrograms>
        <p><strong><a href="https://www.fcgov.com/connexion/">Connexion:</a></strong><br>
            Use the link above to visit the <br>
            Connexion site directly, or <br>
            call (970)-212-2900 to learn more!</p>
        <p><strong><a href="https://www.fcgov.com/">City of Fort Collins:</a></strong><br>
            Use the link above to visit the <br>
            City of Fort Collin's site <br>
            directly, or use <a href="https://clients.comcate.com/newrequest.php?id=150">Access Fort Collins!</a></p>
    </div>
    <div class=extraPrograms style="justify-content: space-around">
        <p> <strong> Developers </strong> <br>
            You can email gracekim@college.harvard.edu <br>
            to learn more about this project. Please note <br>
            this is a demo site, not an actual application <br>
            to the City of Fort Collins Digital Equity.</p>
    </div>
</div>
{% endblock %}