{% extends "application/layout.html" %}

{% block body %}
<!--First page of Application for Digital Equity, just gives a good instructional overview of what is coming next-->
<div class="question">
    <h4>Ready to apply for Digital Equity?</h4>

    <h5> Here is the following information we will ask you to complete: </h5>
    <ul>
        <li> Personal</li>
        <li> Income </li>
        <li> Family Household </li>
    </ul>

    <h5> We can then check if you are eligible for other programs as well. This entire application should take no more than 10 minutes.</h5>

    <button class="register" onclick="location.href='{% url 'application:intros' %}'"> Go to questions! </button>
</div>
{% endblock %}